<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>
  <body>
    <div
      class="container"
      style="
        background-size: contain;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div
        class="content"
        style="max-width: 600px; margin-left: auto; margin-right: auto"
      >
        <div
          class="bg-white"
          style="
            background: #fff;
            padding: 1.5rem 1.75rem;
            border-top: 4px solid #000;
          "
        >
  

          <div class="" style="font-size: 0.875rem; line-height: 1.25rem">
            <h2 style="font-weight: 700; margin-bottom: 1.125rem">
              Hi {{user.first_name}}
            </h2>

            <p style="margin-bottom: 1rem">
              Welcome to Escrow Africa a new and better way to Trade Online, stay save
             and transact with Zero fear. Thank you for signing up with us. At Escrow Africa, our goal is to
              make sure that we create a secure eco system for you and yours. More
              importantly, We want you to get competitively rewarded too 🤑.
            </p>

            <p style="margin-bottom: 1rem">
              You should head on over to the app to try our services and
             get amazed . Look out for interesting
              updates in the coming weeks. We have loads of them for you.
            </p>

            <p>No More Touching Stories 💪</p>
          </div>

          <div
            class=""
            style="display: flex; justify-content: center; margin-top: 2.5rem"
          >
            <a
              href={{activationLink}}
              style="
                font-weight: 700;
                color: #fff;
                font-size: 1rem /* 16px */;
                line-height: 1.5rem /* 24px */;
                padding: 15px 4rem;
                border-radius: 4px;
                background-color: #1552F0;
                text-decoration: none;
              "
              >Go to app</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
