<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>
  <body>
    <div
      class="container"
      style="
        background-image: url('https://bit.ly/meuve-email-bg');
        background-size: contain;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div
        class="content"
        style="max-width: 600px; margin-left: auto; margin-right: auto"
      >
        <div
          class="bg-white"
          style="
            background: #fff;
            padding: 1.5rem 1.75rem;
            border-top: 4px solid #000;
          "
        >
         <div class="" style="font-size: 0.875rem; line-height: 1.25rem">
            <h2 style="font-weight: 700; margin-bottom: 1.125rem">
              Hi {{user.full_name}}
            </h2>

            <p style="margin-bottom: 1rem">
              A request to reset your password was just made for your cabiza
              account.
            </p>

            <p style="margin-bottom: 1rem">
              Click the following link to reset your password:
              <a href="{{resetLink}}">{{resetLink}}</a>
            </p>

            <div
              class=""
              style="
                display: flex;
                justify-content: center;
                margin: 2.5rem 0rem;
              "
            >
              <a
                href="{{resetLink}}"
                style="
                  font-weight: 700;
                  color: #fff;
                  font-size: 1rem /* 16px */;
                  line-height: 1.5rem /* 24px */;
                  padding: 15px 4rem;
                  border-radius: 4px;
                  background-color: #24BAD4;
                  text-decoration: none;
                "
                >Click to reset password</a
              >
            </div>

            <p style="margin-bottom: 1rem">
              If you did not make this request, please ignore this email and no
              changes will be made to your account. <br />
              You can also reply this mail to alert us that you did not request
              the password reset.
            </p>
            <p>
              If you have any questions, please send your email to
              info@cabiza.com and we would be happy to answer them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
