<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirm</title>
  </head>
  <body>
    <p>{{orderId}}</p>
    <p>
      <a
        href="https://drive.google.com/file/d/0B8GjtYf8pVOBc3RhcnRlcl9maWxl/view?usp=sharing&resourcekey=0-S70w1U20gA6PZdTppP6kVw"
        >https://drive.google.com/file/d/0B8GjtYf8pVOBc3RhcnRlcl9maWxl/view?usp=sharing&resourcekey=0-S70w1U20gA6PZdTppP6kVw</a
      >
    </p>
  </body>
</html>